.second_section{
    display: flex;
    
    height: 700px;
}
h1{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}
h1 span{
    color: orange;
    
}
h3{
    font-weight: 700;
}
.width{
    width: 50%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
  
    background-repeat: none;
}
.ancore{
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    color: white;
    padding:10px 40px;
    border-radius: 5%;

}


img{
    padding-top: 10px;
}
.first_option{
    
    padding-top: 35px;

   
}

h2{
    padding: 20px;
    margin-left: 80px;
}
.top_button{
    
    text-decoration: none;
    font-weight: 700;
    color: black;
    padding:10px 40px;
    border-radius: 5%;
    
    
}
div{
    width: 50%;
}
section{
    display: flex;
    background-image: url(light-sage-green-background.jpg);
}
a:hover{
    background-color: orange;
}
